@model Int32

<div class="easyui-layout" data-options="fit:true">
    <div data-options="region:'center',border:false">
        <!-- Begin of toolbar -->
        <div id="wu-toolbar">
            <div class="wu-toolbar-button">
                <a href="#" class="easyui-linkbutton" iconcls="icon-save" onclick="" plain="true">保存</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-redo" onclick="Dialog_Send()" plain="true">发送</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-back" onclick="Dialog_Back()" plain="true">回退</a>
                <a href="#" class="easyui-linkbutton" iconcls="icon-print" onclick="" plain="true">打印</a>
            </div>
        </div>
        <!-- End of toolbar -->
        <table id="wu-datagrid" toolbar="#wu-toolbar"></table>
    </div>
    <div data-options="region:'east',border:true,split:true," title="" style="width:300px; padding:0px;">
        <div id="wu-tabs" class="easyui-tabs" data-options="border:false,fit:true">
            <div title="表单" data-options="href:'@Url.Action("ProjectForm", "Business", new { ProjectId = Model })',closable:false,iconCls:'icon-page-white-excel',cls:'pd3'"></div>
            <div title="材料" data-options="href:'@Url.Action("ProjectMaterial", "Business", new { ProjectId = Model })',closable:false,iconCls:'icon-page-white-word',cls:'pd3'"></div>
            <div title="流程日志" data-options="href:'temp/layout-1.html',closable:false,iconCls:'icon-node-tree16',cls:'pd3'"></div>
        </div>
    </div>
</div>
<div id="dialogSend" class="easyui-dialog" data-options="closed:true,iconCls:'icon-redo'" style="width:400px; height:500px;">
    <div id="wu-tabs" class="easyui-tabs" data-options="border:false,fit:true">
        <div title="人员选择" data-options="href:'@Url.Action("Dialog_SendUser", "Business", new { ProjectId = Model })',closable:false,iconCls:'icon-user',cls:'pd2'"></div>
    </div>
</div>

<script type="text/javascript">
    function Dialog_Send(){
        $('#dialogSend').dialog({
            closed: false,
            modal:true,
            title: "发送",
            buttons: [{
                text: '发送',
                iconCls: 'icon-redo',
                handler: function ()
                {
                    $.ajax({
                        url: '@Url.Action("DoSend", "Business")',
                        data: { ProjectId: @Model, RecvUserId: Business.SendUser },
                        type: 'POST',
                        success: function (json) {
                            if(json.ReturnCode == 0)
                            {
                                $.messager.alert('提示', '发送成功！', 'info',
                                    function(){
                                        $('#dialogSend').dialog('close');
                                        removeTab();
                                    }
                                );
                            }
                            else
                            {
                                $.messager.alert('提示', '发送失败！<br>' + json.Message, 'error');
                            }
                        }
                    });
                }
            },
              {
                  text: '取消',
                  iconCls: 'icon-cancel',
                  handler: function () {
                      $('#dialogSend').dialog('close');
                  }
              }]
        });
    }
    function Dialog_Back()
    {
        $.messager.confirm('回退确认', '确定要回退到上一个环节吗？', function(r){
            if (r){
                $.ajax({
                    url: '@Url.Action("DoBack", "Business")',
                    data: { ProjectId: @Model },
                    type: 'POST',
                    success: function (json) {
                        if(json.ReturnCode == 0)
                        {
                            $.messager.alert('提示', '回退成功！', 'info',
                                function(){
                                    removeTab();
                                }
                            );
                        }
                        else
                        {
                            $.messager.alert('提示', '回退失败！<br>' + json.Message, 'error');
                        }
                    }
                });
            }
        });
    }
</script>