@using Zxl.WebSite.ModelView;
@model LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>系统</title>

    <link href="@Url.Content("~/Content/css/style.css")" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/jquery-1.8.0.min.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/cloud.js")"></script>

    <script type="text/javascript">
        $(function () {
            //云彩位移
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            })
        });
    </script>

</head>

<body style="background-color: #1c77ac; background-image: url(images/light.png); background-repeat: no-repeat; background-position: center top; overflow: hidden;">
    <div id="mainBody">
        <div id="cloud1" class="cloud"></div>
        <div id="cloud2" class="cloud"></div>
    </div>
    <div class="logintop">
        <span>平台</span>
        <ul>
            <li><a href="javascript:;">回首页</a></li>
            <li><a href="javascript:;">帮助</a></li>
            <li><a href="javascript:;">关于</a></li>
        </ul>
    </div>

    <div class="loginbody">
        <span class="systemlogo"></span>
        @using (Html.BeginForm(Html.BeginForm("DoLogin", "Home", FormMethod.Post)))
        {
            <div class="loginbox">
                <ul>
                    <li>
                        @Html.TextBoxFor(m => m.UserName, new { @class = "loginuser", @placeholder = "请输入用户名" })
                        @Html.ValidationMessageFor(m => m.UserName)
                    </li>
                    <li>
                        @Html.TextBoxFor(m => m.Password, new { @class = "loginpwd", @placeholder = "请输入密码" })
                        @Html.ValidationMessageFor(m => m.Password)
                    </li>
                    <li>
                        <input type="submit" class="loginbtn" name="slogin" value="登陆" />
                        <label>
                            @Html.CheckBoxFor(m => m.RememberMe, new { @checked = "checked" })记住密码
                        </label>
                        <label>
                            <a href="javascript:;">忘记密码？</a>
                        </label>
                    </li>
                </ul>
            </div>
        }
    </div>
    <div class="loginbm">版权所有  2017  <a href="javascript:;">zxl</a> </div>
</body>
</html>
