<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/Scripts/DateFormat.js")

    @Scripts.Render("~/Scripts/highchart/highcharts-3d.js")
    @Scripts.Render("~/Scripts/highchart/highcharts-zh_CN.js")
    @Scripts.Render("~/Scripts/highchart/exporting.js")
    @RenderSection("scripts", required: false)

    <script src="https://img.hcharts.cn/highcharts/highcharts.js"></script>
</body>
</html>
